@using CRUDelicious.Models
@model Meal

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUDelicious</title>
</head>
<body>
    <h1>Welcome to CRUDelicious!</h1>
    <h3>Check out some recent dishes!</h3>
    <p>__________________________________</p>
    @for(int i= @ViewBag.AllDishes.Count-1; i >=0; i--)
    {
        <p><a href="@ViewBag.AllDishes[i].DishId">@ViewBag.AllDishes[i].Name</a> by @ViewBag.AllDishes[i].Chef</p>
    }

    <a href="/New">Add a Dish</a>
</body>
</html>